.colors-container {
    display: flex;
}

.button {
    margin: 0.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.palette {
    margin: 1rem 0 0 0;
    height: 1rem;
    width: 10rem;
    border-radius:10px;
    background: var(--note-color);
}

.orange { background: var(--orange); }
.blue   { background: var(--blue); }
.red    { background: var(--red); }
.green  { background: var(--green); }
.yellow { background: var(--yellow); }

:root {
    --orange: #ff9a3c;
    --blue: #4fa3ff;
    --red: #ff4f4f;
    --green: #4cd964;
    --yellow: #ffe14f;

    --note-color: var(--orange); /* domyślny */
}

/* Prawa część – formularz */
.form-section {
  flex: 1; /* węższa część */
  background-color: #ffffff;
  border-left: 2px solid #ddd;
  padding: 30px;
}

/* Formularz */
.form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section input,
.form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-section button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-section button:hover {
  background-color: #388e3c;
}