.list-of-notes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: flex-start;
}

/* Pojedyncza notatka */
.note-box {
  width: 220px;
  min-height: 180px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  position: relative;
  transition: transform 0.2s ease;
}

.note-box:hover {
  transform: scale(1.03);
}

.p-lack-of-notes {
    font-size: 50px;
}

.lack-of-notes {
    background-color: red;   
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

span {
    font-size: 25px;
}