.note-box {
    width: 400px;
    height: 400px;
    border: 8px solid #000;
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto;
    position: relative;
    background-color: var(--note-color);
}


.note-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.small-triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: calc(1% - 5px);
    border-right: 50px solid tomato;
    border-bottom: 50px solid transparent;  /* Zmieniaj mały kwadracik ,*/
}

.button-update-note {
    display: block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 120px;
    bottom: 10px;
}

.button-delete-note {
    display: block;
    padding: 10px 15px;
    background-color: #c70a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button-note:hover {
  background-color: #e60000;
}

.orange { background: var(--orange); }
.blue   { background: var(--blue); }
.red    { background: var(--red); }
.green  { background: var(--green); }
.yellow { background: var(--yellow); }


:root {
    --orange: #ff9a3c;
    --blue: #4fa3ff;
    --red: #ff4f4f;
    --green: #4cd964;
    --yellow: #ffe14f;

    --note-color: var(--orange); /* domyślny */
}