.note-box {
    width: 400px;
    height: 400px;
    border: 8px solid #000;
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto;
    position: relative;
}

.note-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.small-triangle {
    background-color: tomato;
    border-right: 50px solid transparent;
    border-bottom: 50px solid white;
    position: absolute;
    top: 0;
    right: calc(1% - 5px);
}

.button-note {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}